html{
    margin: 0;
    font-family: "Open Sans";
    font-optical-sizing: auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;  
    /* background-color: rgb(92, 55, 24); */
    background-color:#212121;
    /* background-color:#1A237E; */
  }

  body {
    margin: 0;
      overflow-x: hidden;
      }

/* ######### MOUSE POINTER */
  #mouse_pointer {
    width: 55px; 
    height: 55px;
        border-radius: 50%; 
    position: absolute; 
    pointer-events: none;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(180, 171, 171, 0.541);
    z-index: 3;
  }
  
  /* ########## LOGO DESIGN ############## */
.logo_wrapper{
  position: fixed;
  top: 8px;
  left: 70px;      
     width: 112px;
            height: 50px; 
            cursor:pointer;    
               z-index: 122;
                              }

  .line{
    margin: auto;
    border-radius: 50px;
    background-color: orange;
       }

      

.line:nth-child(1){
  position: relative; 
 rotate: 5deg;
margin-bottom: 4px;
width: 29px;
height: 11px;

}

.line:nth-child(1):hover{
  background: linear-gradient(to right, rgb(218, 4, 4) 0%, rgb(216, 18, 18) 50%, rgb(184, 46, 46) 100%);
  transform: scale(1.4);
}

.line:nth-child(2){   
rotate: -8deg;
height: 10px;
width: 39px;

}

.line:nth-child(3){ 
  position: relative;
  top: 6PX; 
  right:-1px; 
rotate: -230deg;
height: 10px;
width: 47px;

}

.line:nth-child(4){
 position: relative;
top: -5px;
right: -6px;
rotate: -41deg;
width: 31px;
height: 9px;

}

.line:nth-child(5){
  position: relative;
  width: 25px;
  height: 10px;
  right: -15px;
rotate: -267deg;
top: -11px;
border-top-right-radius: 50%;
border-bottom-left-radius: 40px;
z-index: 2;

}

.line:nth-child(6){
  width: 25px;
  height: 9px;
 rotate: -360deg;
position: relative;
top: -10px;
right: -22px;

}  
/* ##### XXXXXX LOGO DESIGN XXXXX ###### */


 /* ##### DARK MODE ####### */
.toggle {
  margin-top: 13px;
  display: inline-block;
  position: fixed;
  cursor: pointer;
  font-size: 1.5rem;
  border: 1px solid;
 right: 3%;
  border-radius: 50%;
  transition: border-color 0.5s ease; 
  }

  .toggle .move_up a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid;
    border-radius: 50%; 
    box-sizing: border-box; 
       z-index: -1;
       width: 33px;
height: 33px;
  }
.toggle:hover {
  background-color: white;
  border: 4px solid rgb(2, 2, 2);
}

/* DARK MODE DISPLAY USING THE ICON POWERED BY JS*/
.toggle.dark-mode{
  border: 1px solid white;
}

.toggle:hover.dark-mode{
  background-color: black;
  border: 4px solid white;
}

.left.dark-mode {
  background-color: rgb(24, 21, 21);
  
 }
.right.dark-mode {
  background-color:black;
   color: white; 
  }

  .right.dark-mode h2 {
    color: orange ;
  }
  .animation.dark-mode span::after {
    background-color: rgb(24, 21, 21);
  }

  /*XXXXX DARK_MODE DISPLAY USING THE ICON END XXXXX */

/* ##### NAVIGATION ########## */

/* Header styles */
header{
    position: fixed;
    display: flex;  
    align-content: center;
    justify-content: space-around;
    height: 68px;
           width: 100vw;
            z-index: 2;         
            top: 0;           
            backdrop-filter: blur(5px); 
                   }
  
  header .menu_container {
    display: none;
  }
  
  /*  NAVIGATION FOR DESKTOP VIEW ###### */
  nav{
     transform: translate(-35% );
    }
  
  nav .nav_ul{
    display: flex;
  width: fit-content;
  transform: translateY(-200%);
  animation: floatIn 3.1s ease-out forwards;
  }
  
  nav .nav_ul li{
    padding: 8px;
    list-style: none;
  }
  
  nav .nav_ul li a{
    text-decoration: none;
    color: #ffffff;
     font-weight: bolder;
  font-size: 1.1rem;
  background-color: #aa8989;
  border-radius: 20px;
  padding: 7px;
  }


  nav .nav_ul li a:hover{
   color: rgb(5, 5, 3);
  }



/* NAVIGATION ARROW TO NAVIGATE THE PROJECTS */
.navigation_arrow{
  display: flex;
  position: fixed;
  transform: translateY(50vh);
  width: 98%;
  margin-left: 1%;
   }

   .navigation_arrow a{
    text-decoration: none;
       }

   .navigation_arrow h5{
    color: white;
   }

  .navigation_arrow .back{
padding: 15px;
     }

  .navigation_arrow .back:hover{
    color: #5e4e4e;
       }

  .navigation_arrow .next{
    position: fixed;
   right: 0px;
   padding: 15px;
  }

  .navigation_arrow .next:hover{
    color: #5e4e4e;    
     }
/* NAVIGATION ARROW TO NAVIGATE THE PROJECTS */

/* Float In Animation */
@keyframes floatIn {
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}


section{
   margin-top: 62px;
}

.intro_aethera{
    display: flex;
    justify-content: center;
    
       }

      
       .horizontal_line {      
           margin-top: -32px;
         width: 100%;
         color: rgba(250, 235, 215, 0.589);
             }

             
     
           .intro_aethera .intro_aethera_left h1{
              width: 85%;
              text-align: left;
              border-bottom: 1px solid antiquewhite;
              border-bottom-style: dashed;
              font-size: 45px;
              color: goldenrod; 
              }

      .intro_aethera .intro_aethera_left p{
         width: 90%;
         font-size: 1.1rem;
         color: antiquewhite;
         font-weight: 450;
                }

.img1{
  text-align: right;
}

.img1 img{
    width:100%;
    margin-top:38px;
    transform: translateX(200%);
    animation: floatIn 1.5s ease-in-out forwards;
}


.intro_aethera div{
width:35%;
}

.intro_aethera .intro_aethera_left{
  transform: translateX(-200%);
  animation: floatIn 1.5s ease-in-out forwards;
  }


  .case_study{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
       }

    .case_study h2,h3{
      color: goldenrod;
    }
.case_study ul{
  width: 50%;
}

    .case_study ul li{
      color: antiquewhite;
      padding: 5px;
    }

   .case_study p{
    width: 65%;   
    color: antiquewhite;
    }
 
   .image_concept{
    width: 70%;
       display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 6fr));
    gap:11px;
   }

   .link_to_live_site h6{
    font-size: 2rem;
    color: white;
    background-color: #000000;
    border-radius: 30px;
    padding: 10px;
    transition: 0.3s ease-in-out;
    
  }
  
  
  .link_to_live_site h6:hover{
    font-size: 2rem;
    color: white;
    background-color: #000000;
    padding-right: 50px;
   padding-left: 50px;
  }
