html{
    margin: 0;
    font-family: "Open Sans";
    font-optical-sizing: auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;  
  }

  body {
    margin: 0;
      overflow-x: hidden;
    /* background-color: rgb(0, 0, 0); */
  }
/* ######### MOUSE POINTER */
  #mouse_pointer {
    width: 55px; 
    height: 55px;
        border-radius: 50%; 
    position: absolute; 
    pointer-events: none;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(180, 171, 171, 0.541);
    z-index: 11;
  }


  /* ########## LOGO DESIGN ############## */
.logo_wrapper{
  position: fixed;
  top: 8px;
  left: 70px;      
     width: 112px;
            height: 50px; 
            cursor:pointer;    
               z-index: 122;
                              }

  .line{
    margin: auto;
    border-radius: 50px;
    background-color: orange;
       }

      

.line:nth-child(1){
  position: relative; 
 rotate: 5deg;
margin-bottom: 4px;
width: 29px;
height: 11px;

}

.line:nth-child(1):hover{
  background: linear-gradient(to right, rgb(218, 4, 4) 0%, rgb(216, 18, 18) 50%, rgb(184, 46, 46) 100%);
  transform: scale(1.4);
}

.line:nth-child(2){   
rotate: -8deg;
height: 10px;
width: 39px;

}

.line:nth-child(3){ 
  position: relative;
  top: 6PX; 
  right:-1px; 
rotate: -230deg;
height: 10px;
width: 47px;

}

.line:nth-child(4){
 position: relative;
top: -5px;
right: -6px;
rotate: -41deg;
width: 31px;
height: 9px;

}

.line:nth-child(5){
  position: relative;
  width: 25px;
  height: 10px;
  right: -15px;
rotate: -267deg;
top: -11px;
border-top-right-radius: 50%;
border-bottom-left-radius: 40px;
z-index: 2;

}

.line:nth-child(6){
  width: 25px;
  height: 9px;
 rotate: -360deg;
position: relative;
top: -10px;
right: -22px;

}  
/* ##### XXXXXX LOGO DESIGN XXXXX ###### */


 /* ##### DARK MODE ####### */
.toggle {
  margin-top: 13px;
  display: inline-block;
  position: fixed;
  cursor: pointer;
  font-size: 1.5rem;
  border: 1px solid;
 right: 3%;
  border-radius: 50%;
  transition: border-color 0.5s ease; 
  }

  .toggle .move_up a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid;
    border-radius: 50%; 
    box-sizing: border-box; 
       z-index: -1;
       width: 33px;
height: 33px;
  }
.toggle:hover {
  background-color: white;
  border: 4px solid rgb(2, 2, 2);
}

/* DARK MODE DISPLAY USING THE ICON POWERED BY JS*/
.toggle.dark-mode{
  border: 1px solid white;
}

.toggle:hover.dark-mode{
  background-color: black;
  border: 4px solid white;
}

.left.dark-mode {
  background-color: rgb(24, 21, 21);
  
 }
.right.dark-mode {
  background-color:black;
   color: white; 
  }

  .right.dark-mode h2 {
    color: orange ;
  }
  .animation.dark-mode span::after {
    background-color: rgb(24, 21, 21);
  }

footer.dark-mode{
  background: black;
}


.explore_more.dark-mode  {
  color: white;
}

/*XXXXX DARK_MODE DISPLAY USING THE ICON END XXXXX */

/* ##### NAVIGATION ########## */

/* Header styles */
header{
  position: fixed;
  display: flex;  
  align-content: center;
  justify-content: space-around;
  height: 68px;
         width: 100vw;
          z-index: 2;         
          top: 0;
          backdrop-filter: blur(5px); 
                 }

header .menu_container {
  display: none;
}

/*  NAVIGATION FOR DESKTOP VIEW ###### */
nav{
  transform: translate(-30% );  
  border-radius: 30px;
  height: 30px;
}

nav .nav_ul{
  display: flex;
width: fit-content;
transform: translateY(-200%);
animation: floatIn 3.1s ease-out forwards;
/* background-color: rgba(16, 19, 16, 0.795); */
border-radius: 30px;
}

nav .nav_ul li{
  padding: 8px;
  list-style: none;
}

nav .nav_ul li:hover{
 
 border-radius: 20px;
}

nav .nav_ul li a{
  text-decoration: none;
  color: #835a5a; 
  font-weight: bolder;
font-size: 1.1rem;
background-color: rgb(233, 231, 230);
border-radius: 20px;
  padding: 7px;
}
nav .nav_ul li a:hover{ 
  color: #000000;  
}


  
section .home{
    display: flex;
    position: relative;
    transform: translateX(200%);
animation: floatIn 1.1s ease-out forwards;
}


/* ########## LEFT SIDE ################# */
.left{
    /* position: relative; */
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    overflow: hidden;
    z-index: -1;
    background: black;
       }

     
/* BURNING BALLS */
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  perspective: 1000px; 
  }

.bubble {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(circle, #ff4500, hwb(33 0% 0%), #ff4500);
  box-shadow: 0 0 50px rgba(255, 69, 0, 0.8);
   transform-style: preserve-3d;
}

.bubble {
  animation: float 6s infinite ease-in-out, glow 3s infinite ease-in-out;
} 
  
.bubble-1 {
  top: 20%;
  left: 10%;
  animation-delay: 0s;
 }

.bubble-2 {
  top: 70%;
  left: 10%;
  width: 50px;
  height: 50px;
  animation-delay: 2s;
}

.bubble-3 {
  top: 70%;
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 14s;
}

.bubble-4 {
  top: 10%;
  left: 75%;
  width: 50px;
  height: 50px;
  animation-delay: 6s;
}

 
 .bubble-5 {
  top: 80%;
  left: 20%;
  width: 120px;
  height: 120px;
  animation-delay: 4s;
 }

 
.bubble-6 {
  top: 10%;
  left:30%;
  width: 120px;
  height: 120px;
  animation-delay: 13s;
}
.bubble-7 {
  top: 10%;
  left:90%;
  width: 120px;
  height: 120px;
  animation-delay: 11s;
}

.bubble-8 {

  top: 30%;
  left:70%;
  width: 120px;
  height: 120px;
  animation-delay: 9s;
}
.bubble-9 {

  right: -10%;
  bottom:19%;
  width: 150px;
  height: 150px;
  animation-delay: 4s;
  z-index: 58;
}

.bubble-10 {

  right: 5%;
  bottom:12%;
  width: 50px;
  height: 50px;
  animation-delay: 4s;
}

.bubble-11 {

  right: 25%;
  bottom:1%;
  width: 50px;
  height: 50px;
  animation-delay: 4s;
}

.bubble-12 {
  right:10%;
  bottom: 5%;
  width: 20px;
  height: 20px;
  animation-delay: 1s;
}

.bubble-13 {
left:4%;
  bottom: 5%;
  width: 20px;
  height: 20px;
  animation-delay: 1s;
}

.bubble-14 {
  left:1%;
  bottom: 15%;
  width: 20px;
  height: 20px;
  animation-delay: 1s;
}

.bubble-15 {
  left:1%;
  bottom: 35%;
  width: 20px;
  height: 20px;
  animation-delay: 1s;
}

.bubble-16 {
  left:1%;
  bottom: 55%;
  width: 20px;
  height: 20px;
  animation-delay: 1s;
}
.bubble-17 {
  left:8%;
  bottom: 85%;
  width: 20px;
  height: 20px;
  animation-delay: 1s;
}
.bubble-18 {
  left:5%;
  bottom: 95%;
  width: 20px;
  height: 20px;
  animation-delay: 1s;
}
.bubble-19 {
  left:17%;
  bottom: 55%;
  width: 20px;
  height: 20px;
  animation-delay: 1s;
}


 

/* Glow Effect */
 @keyframes glow {
  0%, 100% {
    box-shadow: 0 0 50px rgba(255, 69, 0, 0.8);
  }
  50% {
    box-shadow: 0 0 80px rgba(255, 69, 0, 1);
  }
}

.phone {
    width: 240px;
    height: 440px;
    position: absolute;   
  }
 
  .screen {
    width: 100%;
    height: 100%;
    background: #5e521ecc;
    border-radius: 20px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    border: 1px solid red;
    border-top-color: #ffcc00;
    border-right-color:#ffcc00;
    border-left-color: #ffcc00;
    border-top-color:#ffcc00;
    border-bottom-color: #ffcc00;
    box-shadow: 0 0 20px rgba(151, 167, 15, 0.8), 0 0 40px #ffcc00;
      
  }
   
  .dynamic_island {
    margin-top: 10px;
   width:45%;
height:20px;
background-color: black;
border-radius: 20px;
  }
    .date{   
    margin-top: 20px;
    display: inline-block;
  }

  .intro_left h1{
font-size: 2.5rem;
/* font-style: oblique; */
  }

  .content {
    position: relative;
      /* bottom: -10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* font-size: 40px; */
  }
 
  .news1{
   position: relative;
    width: 209px;
    height: 31px;
    border-radius: 16px;   
   margin-bottom: 19px;
  display: flex;
  padding: 3px;
    background-color: #8d8a8a;    
   justify-content: space-between;
   align-items: center;
   border: 1px solid rgb(119, 44, 44);
 }

 .news1_links{
  position: relative;
  
 }

 .news1_links_footer{

  position: absolute;
  bottom: 50px;
  left: -25px;
  height:31px;
width: 90%;
 }


.left p{
    font-size: 11px;
        font-weight: 650;
        color: #030202;
}
 
  .button {
    width: 75px;
    height: 3.5px;
    background: #fffcfc;
   border-radius: 30px; 
   position: relative;
 bottom: -10px;
    box-shadow: 0 0 10px rgba(230, 208, 11, 0.8);
      } 

  /* ##### RIGHT SIDE#### */
.right{
    position: relative;
    width: 50%;
    background-image: url(Asset/WALLPAPER1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: rgb(155, 146, 121);
    background-blend-mode:color-burn;
    z-index: -2;

}

.ball {
    position: relative;
    right: -60%;
    top: -15%;
    width: 400px; 
    height: 400px;
    background: radial-gradient(
      circle at 30% 30%, 
      #ffffff, 
      #ffcc00 20%, 
      #ff9900 40%, 
      #663300 80% 
    );
    border-radius: 50%; 
    box-shadow: 
      0 0 20px rgba(255, 204, 0, 0.8), 
      0 0 50px rgba(255, 153, 0, 0.6),
      0 0 100px rgba(102, 51, 0, 0.4); 
    animation: float_sun 3s ease-in-out infinite; 
    cursor:pointer;
  }
    
   @keyframes float_sun {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  } 

 
/* ####### ABOUT SECTION ##### */
.about1{
padding-top: 60px;
  font-family: 'Roboto';
  background-color: #241e22;
  transform: translateY(-200%);
  animation: floatIn 1s ease-in-out forwards;
 }

.about1flex{
  display: flex;

}

.left_about1{ 
    display: flex;
  align-items: center;
  width: 70%;
  justify-content: center;
   z-index: -1;   
}

.about1 .image_concept{

  position: relative;
  padding: 11px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
 
}


.left_about1_wrapper{ 
  width: 85%; 
}


 .left_about1 .left_about1_wrapper h1{
  transform: translateX(-120%);
  animation: floatIn 3s ease-out 0.1s forwards;
  display: block;  
   font-size: 6rem;
   text-align: left;
   color: orange;
 }

 .left_about1 .left_about1_wrapper h2{
   color: antiquewhite;
 }


.left_about1 .left_about1_wrapper P{
  font-family: 'Roboto';
 font-size: 1.1rem;
 color:antiquewhite;
  text-align: left;
 width: 90%;

}


.right_about1{
height:max-content;
  width:30%;
  z-index: -1;
justify-content: center;
margin-top: -59px;
}

.right_about1 .right_about1_profile_pic img{

  border-bottom-left-radius: 45px;
  background-color: rgb(0, 0, 0);
  background-blend-mode:darken;
  z-index: -1;
}

  /* ######## EYE NEURON LOADER ####### */
.eye_neuron_wrapper{
position: fixed;
top: 44px;
z-index: 1;
right: 560px;

}


.eye_neuron_loader{
  justify-content: center;
 align-items: center;
 display: flex;

}

.eye_circle{
  position: absolute; 
}

.eye_circle:nth-child(1){
  position: absolute;
  width: 19px;
  height: 8px;
border-radius: 60%;
border: 3px solid rgba(255, 166, 0, 0.315);
rotate: 90deg;
animation: rotate-reverse-circle 2.5s infinite linear; 
}

.eye_circle:nth-child(8){
  position: absolute;
  width: 19px;
  height: 8px;
border-radius: 60%;
border: 3px solid rgba(255, 166, 0,0.315);
animation: rotate-reverse-circle 2.5s infinite linear; 
}

.eye_circle:nth-child(2){
  position: absolute;
  width: 45px;
  height: 45px;
border-radius: 50%;
border-left: 4px solid rgba(255, 166, 0,0.315);
border-right: 4px solid rgba(255, 166, 0, 0.315);
animation: rotate-circle 9.5s infinite linear;
}

.eye_circle:nth-child(3){
  position: absolute;
  width: 65px;
  height: 65px;
border-radius: 50%;
border-left: 4px solid rgba(255, 166, 0, 0.315);
border-right: 4px solid rgba(255, 166, 0,0.315);
animation: rotate-reverse-circle 9.5s infinite linear; 
}

.eye_circle:nth-child(4){
  position: absolute;
  width: 85px;
  height: 85px;
border-radius: 50%;
border-top: 4px solid rgba(255, 166, 0, 0.315);
border-bottom: 4px solid rgba(255, 166, 0, 0.315);
animation: rotate-reverse-circle 9.5s infinite linear; 
}
  
.eye_circle:nth-child(5){
  position: absolute;
  width: 100px;
  height: 100px;
border-radius: 50%;
border-left: 4px solid rgba(255, 166, 0,0.315);
border-right: 4px solid rgba(255, 166, 0, 0.315);
animation: rotate-circle 9.5s infinite linear; 
}

.eye_circle:nth-child(6){
  position: absolute;
  width: 120px;
  height: 120px;
border-radius: 50%;
border-left: 2cap solid rgba(255, 166, 0, 0.315);
border-right: 2cap solid rgba(255, 166, 0, 0.315);
animation: rotate-circle 5.5s infinite ;
}

.eye_circle:nth-child(7){
  position: absolute;
  width: 280px;
  height: 280px;
border-radius: 50%;
border: 4px solid rgba(255, 166, 0, 0.315);
border-style: dashed;
border-spacing: 231px;
animation: rotate-circle 292.5s infinite linear; 

}

.dash1{
  position: relative;
  width: 20px;
 top: -100px;
  border: 1px solid rgba(255, 166, 0, 0.315);
  right: -32px;
  animation: rotate-circle 2.5s infinite ; 
}

.dash2{
  position: relative;
  width: 20px;
 top: 0;
  border: 1px solid rgba(255, 166, 0, 0.315);
  right: -112px;
  rotate: 90deg;
  animation: rotate-circle 2.5s infinite ; 
  animation-delay: 15s;
}

.dash3{
  position: relative;
  width: 20px;
 top: 100px;
  border: 1px solid rgba(255, 166, 0,0.315);
  left: -12px;
  animation: rotate-circle 2.5s infinite ; 
  animation-delay: 10s;
}

.dash4{
  position: relative;
  width: 20px;
 top: 0;
  border: 1px solid rgba(255, 166, 0,0.315);
  right: 135px;
  rotate: 90deg;
  animation: rotate-circle 2.5s infinite ; 
  animation-delay: 15s;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-reverse-circle {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}




/* Float In Animation */
@keyframes floatIn {
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}



/* ##### PROJECT SECTION #### */

.projects1{
  font-family: 'Roboto';
  background-color: #241e22;
  display: flex;
  justify-content: center; 
  align-items: center;
  overflow: hidden;  
width: 100%;
padding-bottom: 80px;
}

 .projects1_wrapper{    
  margin-top: 95px; 
   width: 85%;
   justify-content: center;
}

.projects1_title{
 display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 350px;
  margin-bottom: 40px;
margin-top: 30px;
  
  }

  .projects1_title .right_intro{
  width:50%;   
    padding-left: 25px;
    }


  .projects1_title .right_intro  h1{
    font-size: 2rem;
     color: goldenrod;
   
    }
    .projects1_title .right_intro p{
      font-size: 1.1rem;
      text-align: justify;
      width: 70%;
      color: antiquewhite;
       }


.projects1_wrapper .card_wrapper{   
  margin-bottom: 10px;  
display: grid;
grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
gap:40px;
}

.projects1_wrapper .card_wrapper .card{ 
 height: max-content;
 width: 100%;
 transition: 0.2s ease all;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 15px;
cursor: pointer;
}

.projects1_wrapper .card_wrapper .card1{ 
  background-color: rgba(191, 204, 202, 0.692);
   }
   .projects1_wrapper .card_wrapper .card1:hover{ 
    box-shadow: 1px 2px 11px 1px;
    color:  rgba(191, 204, 202, 0.692);
    transform: scale(1.04);     
  }

   .projects1_wrapper .card_wrapper .card2{ 
    background: linear-gradient(85deg, rgb(39, 140, 207), white, rgba(218, 215, 32, 0.37));
     }
     .projects1_wrapper .card_wrapper .card2:hover{ 
      box-shadow: 1px 2px 11px 1px;
      background: linear-gradient(85deg, rgb(39, 140, 207), white, rgba(218, 215, 32, 0.37));
      transform: scale(1.04);       
    }

     .projects1_wrapper .card_wrapper .card3{ 
      background-color: rgb(255, 255, 255);
       }
       .projects1_wrapper .card_wrapper .card3:hover{ 
        box-shadow: 1px 2px 11px 1px;
        color:  rgb(255, 255, 255);
        transform: scale(1.04);         
      }

       .projects1_wrapper .card_wrapper .card4{ 
        background: linear-gradient(85deg, rgba(0, 0, 0, 0.034), white, rgba(218, 165, 32, 0.37));
         }
         .projects1_wrapper .card_wrapper .card4:hover{ 
          box-shadow: 1px 2px 11px 1px;
          background: linear-gradient(85deg, rgba(0, 0, 0, 0.034), white, rgba(218, 165, 32, 0.37));
          transform: scale(1.04); 
        }

         .projects1_wrapper .card_wrapper .card5{ 
          background-color: rgba(191, 204, 202, 0.692);
           }
           .projects1_wrapper .card_wrapper .card5:hover{ 
            box-shadow: 1px 2px 11px 1px;
            color: rgba(68, 131, 121, 0.692);
            transform: scale(1.04);             
          }

           .projects1_wrapper .card_wrapper .card6{ 
            background: linear-gradient(85deg, rgba(196, 85, 85, 0.034), rgb(185, 174, 174), rgba(128, 105, 98, 0.37));
             }

             .projects1_wrapper .card_wrapper .card6:hover{ 
              box-shadow: 1px 2px 11px 1px;
              color: rgba(68, 131, 121, 0.692);
              transform: scale(1.04);
               
            }

   .projects1_wrapper .card_wrapper .card  h3{
    color: rgb(0, 0, 0);
  font-size: 1.2rem;
 }

 .projects1_wrapper .card_wrapper .card  p{
  align-items: center;
  color: black;
     font-size: 0.9rem;
    margin-top: -14px;           
   margin-left: 10px;
   margin-right: 10px;
 
 }

.projects1_wrapper .card_wrapper .card .link_p {
   display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: fit-content;
  padding-bottom: 1px;
}

.projects1_wrapper .card_wrapper .card .link_p a{
   text-decoration: none; 
   color: black;
   padding: 5px;     
   width: 40px;
   height: fit-content;
   text-decoration: none;
   border-radius: 30px;
   transition: 0.3s ease-in;
}

.projects1_wrapper .card_wrapper .card .link_p a:hover{
  color: #5f4646;
  padding-left: 12px;
  padding-right: 12px;
  border-left:1px solid ;
  border-right: 1px solid;
}

/* #### BLOG SECTION ####*/

.blog{
  font-family: 'Roboto';
  background-color: #241e22;
  width: 100%;
  overflow: hidden;  
  justify-content: center; 
align-items: center;
z-index: -1;
}



  /* ####### UI/UX COMPONENTS HUB ######### */
.ui_ux_component{  
  font-family: 'Roboto';
  background-color: #241e22;
   display: flex;
justify-content: center; 
align-items: center;
  overflow: hidden;  
width: 100%;
}

.ui_ux_component_wrapper{
  margin-top: 95px; 
  justify-content: center;
   width: 85%;
  
}

.ui_ux_component_title{
display: flex;
flex-direction: row-reverse;
height: 350px;
margin-bottom: 40px;
}

.ui_ux_component_title .right_intro  h1{
font-size: 2rem;
 color: goldenrod;
}

.ui_ux_component_title .right_intro p{
  font-size: 1.1rem;
  text-align: justify;
  width: 70%;
  color: antiquewhite;
  }

.ui_ux_component section{
 margin-bottom: 10px;  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
  gap:40px;
   }

 .ui_ux_component section .card{
 height: 400px;
 width: 100%;
 transition: 0.2s ease all;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 15px;
cursor: pointer;
  }

  .ui_ux_component section .card1{
    background-color: rgba(68, 131, 121, 0.692);
   
         }
  

  .ui_ux_component section .card1:hover{

  box-shadow: 1px 2px 11px 1px;
  color: rgba(68, 131, 121, 0.692);
  transform: scale(1.04);
       }

       .ui_ux_component section .card2{
        background-color: rgb(202, 171, 171);
             }

             .ui_ux_component section .card2:hover{
              box-shadow: 1px 2px 11px 1px;
              color: rgba(85, 94, 92, 0.692);
              transform: scale(1.04);
                   }

  .ui_ux_component section .card h3{   
    color: rgb(0, 0, 0);
       font-size: 1rem;
                    }

  .ui_ux_component section .card p{
  align-items: center;
       color: black;
          font-size: 0.9rem;
         margin-top: -14px;           
        margin-left: 10px;
        margin-right: 10px;
          }

          .ui_ux_component section .card3{
         
            background: linear-gradient(85deg, rgba(0, 0, 0, 0.034), white, rgba(218, 165, 32, 0.37));
            margin-bottom: 30px;
                 }
    
                 .ui_ux_component section .card3:hover{
                  box-shadow: 1px 2px 11px 1px;
                  color: rgba(255, 255, 255, 0.692);
                  transform: scale(1.04);
                       }
         

section a{
  text-decoration: none;
}




/* Progress Bar */
.progress-bar {
  width: 80%;
  height: 10px;
  background: #555;
  border-radius: 5px;
  margin-top: 20px;
}

.progress {
  height: 100%;
  width: 40%; 
  background: #c71104;
  border-radius: 5px;
}


.cta-btn {
  margin-top: 30px;
  padding: 10px 30px;
  font-size: 1.2em;
  background: #5c4c54;
  border: none;
  border-radius: 30px;
  color: rgb(155, 26, 26);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background 0.3s ease;
}

.cta-btn:hover {
  background: #ff0000;
}

/* Countdown Timer */
.countdown {
  font-size: 1.5em;
  margin-top: 30px;
}

/* Footer and Social Links */
.footer {
  margin-top: 40px;
  font-size: 1em;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 1.5em;
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ffbb00;
}



/* Footer styles */
footer{ 
  padding-bottom: 39px;
  height:99px !important;
   color: #7c6f6f;
  width:100% !important; 
   justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
 
  }
 
  footer p{
   margin-left: 0 ;
   margin-right: 0;
  }
 
 footer  div{  
   display:contents;
 }
 
 footer .links_footer{ 
 display: flex;
 }
 
 .links_footer ul{
   width: 100%;
    justify-content: center;
   align-items: center;
   display: flex;
   }
 
 .links_footer li{
  list-style: none;
   padding-right: 10px;
   transition: transform 0.3s ease, font-size 0.7s ease;
  }
  
  .links_footer ul li:hover{
   color:rgba(241, 187, 9, 0.788);
   transform: translateY(-4px);   
  }
   


/* ######## FOR TABLET DEVICES   768px */

@media (max-width: 830px) {
#mouse_pointer{
  display: none;
}

  nav{
    display: none;
  }

/* HEADER FOR MY NAVIGATION */
header{
  margin-left: 0;
   z-index: 2000;
  align-content: center;
  height: 68px;
  backdrop-filter: blur(5px); 
   
     }

 header .menu_container{
  text-align: left;
  width: fit-content;
  /* height: 100vh; */
  display: contents ; 
  z-index: 6666767; 
  width: 100%;
     background-color: rgba(107, 12, 12, 0.8);   
 }

.hide{
  display: none !important;
}

 header .menu_container nav_header{
  position: absolute;
display: grid;
align-items: center;
height: 85px;
width: 86%;
left: 0px;
 }

 header .menu_container nav_header ul{
  position: absolute;
  height: 100vh;
  width: 100%;
   top: -16px;
 left: 0px;
  padding-left: 0;
  background-color: #030202;
 }

 header .menu_container nav_header ul li{
list-style: none;
position: relative;
top: 80px;
padding: 20px;
border-bottom: 1px solid rgba(255, 166, 0, 0.24);
 }

 header .menu_container nav_header ul li a{
text-decoration: none;
color: rgb(255, 253, 253);
font-weight: bolder;
font-size: larger;
font-family: sans-serif;
transition: color 0.3s ease;
padding: 15px;
 }

 header .menu_container nav_header ul li a:hover{
color: orange;
 }

 header .menu_container nav_header ul li a::before{
  content: '';
    position: absolute;
   bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color:rgba(236, 234, 229, 0.712);
    transition: 0.8s ease;
    }
 header .menu_container nav_header ul li a:hover::before{
  width: 100%;
 }

/*############ HAMBURGER MENU ############*/
header .menu-icon {
  display: flex;
  position: fixed;
  flex-direction: column;
  gap: 7px;
  cursor: pointer;
  z-index: 4000;
 left: 2px;
  padding: 18px;
  top: 1px; 
}
.menu-icon .bar {
  position: relative;
  width: 40px;
  height: 7px;
  background-color: orange;
  border-radius: 5px;
  transition: .6s ease;
}
header .menu-icon .bar:nth-child(2){ 
 width: 25px;
}
header .menu-icon.active .bar:nth-child(1){ 
  transform: translate(-50%, -50%) rotate(50deg);
}
header .menu-icon.active .bar:nth-child(2){
  position: relative; 
 transform: translateY(30px) ;
 animation: blink 1.2s infinite; 
}
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
header .menu-icon.active .bar:nth-child(3){ 
  transform: translate(-50%, -50%) rotate(-50deg);
}



  
section .home{
  flex-direction: column-reverse;
 width: 100%;
}

.left{
  width: 100%;
  /* margin-top: 100px; */
}

.right{
  width: 100%;
}

/* ----ABOUT SECTION ------ */
.about1flex{
  flex-direction: column-reverse;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.left_about1{
  width: 100%;
  margin-bottom: -0px !important;
  
 }


.left_about1_wrapper{ 
  width: 90%; 
margin-top: -120px;
  
}
.left_about1 .left_about1_wrapper h1{
   text-align: center;
   font-size: 3rem;
     margin-top: -810PX;
      color: orange; 
      margin-bottom: 900px;
 }

 .left_about1 .left_about_wrapper P{
  /* text-align: justify; */
 /* justify-content: center; */
 text-align: center;
 }

 .right_about1{
  margin-top: 160px;
     width: 90%;
  /* margin-left: -30%; */
}

.right_about1 .right_about1_profile_pic img{
  
 transform: rotate(50% -50%);
border-radius: 30px;
height:800px;
}

.about1 .image_concept{
  grid-template-columns: 1fr ;
}

/* --------PROJECTS SECTION---------- */
.projects1{
  flex-direction: column;
}

.projects1 .projects1_wrapper .projects1_title{
  flex-direction: column-reverse;
  margin-top: 10px !important;
  }

.projects1 .projects1_wrapper .projects1_title div img{
 display: none;
}

.projects1 .projects1_wrapper .projects1_title .right_intro p{
 width: 80vw;


}
 .projects1_title .right_intro {
     width: 100%;
     padding-left: 0;
       }



.ui_ux_component_title{  
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.ui_ux_component_title div img{  
 display:none
}

.ui_ux_component_title .right_intro  h1{
 text-align: center;
  }

  .ui_ux_component_title .right_intro  p{
   width: 100%;
     }













}