*{
    margin: 0px;
    padding: 0px;
    font-family:hartwell-alt ;
}
::-webkit-scrollbar{
    width: 9px;
}

::-webkit-scrollbar-thumb{
    background-color:    #04f5f5   ;
}
::-webkit-scrollbar-track{
    background-color: #08061d;
}


section {
    min-height: 100vh;
    padding: 5rem 4% 10rem;

    font-family: hartwell-alt;
 }
.heading{
  font-size: 8rem;
  text-align: center;
  margin: 0.1rem 0;
color: #09e2f1;
font-family: hartwell-alt;
}
.sub-heading{
    color:  rgb(255, 238, 0);
    font-size: 3rem;
  text-align: center;
  margin-bottom: 2.5rem;
  font-weight: 200px;
  font-family: hartwell-alt;
}

h2{
    color: rgb(255, 238, 0);
    font-size: 1.7rem;
    font-family: HARTWELL ALT;
    font-weight: 100;
}

h1{
    font-family: hartwell-alt;
}

p{
    color:white;
    margin-top: 30px;
    font-size: 1.3rem;
    font-family: hartwell-alt;
}

/* GENERAL STYLE END*/
html{
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden
}

body{
    overflow-y: hidden;
    height: 100%;
    overflow-x: hidden ;
    font-family: hartwell-alt;
background-color:  #08061d ;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
  height: 9vh;
    z-index: 1;
    background-color: rgba(1, 0, 5, 0.925);
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
border-bottom: 1px solid rgba(255, 230, 3, 0.445);

}

nav .logo{
margin-top: 12px;
margin-left: -22vh;
margin-bottom: 12px;
transition:  0.3s ease;
}
.logo img{
   height: 8vh;
}
.logo:hover{
transform: scale(1.1);
}

.nav-links{
    height: 40px;
    display: flex;
    justify-content: space-around;
    width: 45%;
    align-items: center;
    margin-right: -80vh;
}

.nav-links a {
    color: rgb(247, 247, 247);
    text-decoration: none;
    text-decoration-color: white;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 1.rem;
    transition: 0.4s ease;
    font-family: hartwell-alt;
    text-transform: uppercase;
}

.nav-links a:hover{
    color:#09e2f1;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

/* MOBILE HANDBURGER */
input{
    display: none;
}


.circle{
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
  position: absolute;
  background-color: #322a5a52;
  margin-left: 70%;
  margin-top: -30%;
  z-index: -1 ;
position: fixed;
/* border-top: 1px solid red;
border-bottom: 1px solid yellow;
animation: spin 9s linear infinite */
}
/* @keyframes spin {
    to {
        transform: rotate(360deg);
    }
} */



/* SECTION1 HOME */


/* HOME-CONTENT */
.home{
    display: flex;
}

.home-wrapper{
display: flex;
align-items: center;
justify-content: space-between;
}



.home-left{
    width: 50%;
}


.home-wrapper h1{

    font-family: hartwell-alt;
    color: #e7fffe;
    font-size: 8.4rem;
}

.home-wrapper h1 span{
    color: #09e2f1;
    font-family: hartwell-alt;
}

.animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
 font-family: hartwell-alt;
}

.animation span{
    position: relative;

}

.animation span::before{
    content: "Frontend Developer";
    color: #0cdceb;
    animation: words 20s infinite;
}
.animation span::after{
content: "";
background-color: #08061d;
position: absolute;
width: calc(100% + 8px);
height: 100%;
border-left: 3px solid rgb(7, 231, 247);
right: -10px;
animation: cursor 0.6s infinite, typing 20s steps(30) infinite
}
@keyframes cursor{
    to{
        border-left: 4px solid rgb(82, 81, 81);
    }
}
@keyframes words{
    0%,
    20%{
        content: "Frontend Developer";
    }
    21%,40%{
        content: "Designer";
    }
    41%,60%{
        content: "UI / UX Designer";
    }
    61%,80%{
        content: "Web Developer";
    }
    81%,100%{
    content: "Software Tester";
    }
}

@keyframes typing{
    10%,
    15%,
    20%,
    35%,
    40%,
    45%,
    50%,
    55%,
    60%,
    65%,
    70%,
    75%,
    80%,
    85%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
width: calc(100% + 9px);
    }
}

.home-wrapper P{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.9;
    max-width: 1000px;
}

/* HOME RIGHT IMAGE */

.home-wrapper .home-right img{
    width: 56vh;
    height: 56vh;
    border-radius: 50%;
    box-shadow: 0 0 20px #09e2f1 ;
    cursor: pointer;
    transition: 0.2s ease-in-out;
   border: solid;
    z-index: 22;
}
.home-wrapper .home-right img:hover{
   box-shadow: 0 0 20px #09e2f1,
   0 0 40px #09e2f1,
   0 0 60px #09e2f1;
  }

 .home-wrapper .home-right .cicle-mypic{
position: absolute;
    width: 59vh;
    height: 59vh;
    border-bottom: 4px solid rgb(255, 217, 0);
    border-top: 4px solid rgb(8, 195, 228);
    border-radius: 50%;
    animation: move 39s linear infinite ;
    z-index: -1;
    margin-left: -1vh;
    margin-top: -1.5vh;
}
@keyframes move {
    to {
        transform: rotate(-360deg);
    }
}


 /* .circle2{
    position:fixed;
border:1px solid rgb(229, 255, 0);
width: 113vh;
height:113vh ;
border-radius: 50%;
top: 572px;
z-index: -1;
}
 */

 /* SECTION2 ABOUT*/
 .about-wrapper {
position: relative;
 }

 .about-wrapper .text-about-me{
    line-height: 40px;
margin: auto;
    max-width: 70%;
    padding-bottom: 5rem;
    text-align:center;
 }

.grid{
    display: flex;
}

.card{
    justify-content: center;
    max-width: 30%;
    align-items: center;
    margin: auto;
    line-height: 30px;
    text-align: center;
    /* box-shadow: 0 0 9px #09e2f1 ; */
    transition: 0.4s ease-in-out ;
border-radius: 25px;
background-color: #23cbd1 ;
border-bottom:3px solid yellow;
}

.card:hover{
background-color: black;
  transform: scale(1.05);
  border: 4px solid #05f1f1;
  box-shadow: 0 0 50px #09e2f1,
  0 0 10px #09e2f1,
  0 0 15px #09e2f1;
}



/* PROJECTS SECTION3 */
.heading{
    margin-bottom: 5rem;
}
.projects-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 80px;
position: relative;

}

#project-img  {
position: relative;
}
.digital-clock{
position: absolute;
border: 1px solid red;
display: block;
transform: o.3s;
}

 #project-img  img{
    width: 56vh;
    height: 56vh;
border: 3px solid rgb(3, 5, 0);
    box-shadow: 0 0 30px #09e2f1 ;
    transform: 0.9 ease;
}

.layer{
justify-content: center;
align-items: center;
margin: auto;
    color: red;
    position: absolute;
border: 1px solid;
/* margin-top: -20vh;
max-width: 114px; */

}



#project-img  img:hover{

  transform: translateY(-10px)scale(1.05);
}

/* SECTION5 CONTACT */

.contact form{

display: flex;
justify-content: space-around;
    margin: 5rem auto;
}

.contact form .input-box{
display: grid;
justify-content: center;
width: 434px;
}

.contact form .input-box input{
display: block;
    justify-content: center;
    width: 6px;
    height: 1px;
    }

.contact form .input-box input,
.contact form textarea{
    width: 80%;
    padding: 2rem;
    font-size: 1.4rem;
    color:#7c4920;
    margin: 0.5rem;
    resize: none;
    background-color: #e6e5de;
}


.btn{
    display: inline-block;
padding: 1rem 2.8rem;
/* box-shadow: 0 0 25px rgb(13, 199, 255); */
border-radius: 4rem;
font-size: 1rem;
letter-spacing: 0.1rem;
font-weight: 600;
transition: all 0.5s cubic-bezier(0.23, 1.36, 0.29,-0.44);
cursor: pointer;
background: linear-gradient(45deg,rgb(22, 188, 218) 10%, rgb(8, 18, 51) 10%, rgb(47, 64, 88) 100% );
background-size: 240px 100%;
}

.btn:hover{
    transform: scale(1.05);
   box-shadow: 0 0 50px rgb(0, 238, 255);
  background-size: 2400px 100%;
  color: white;
}


/* FOOTER */
footer{
background-color: rgb(0, 217, 255);
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 140px;

}


 footer .social ul{
    display: flex;
justify-content: space-around;

 }

 footer .social ul li{
    padding: 15px;
    list-style: none;

 }

 footer .social ul li a{
    text-decoration: none;
    color: red;
 }



/* MEDIA SCREEN FOR RESPOSIVE SITE */
@media screen and (max-width: 1024px){
    .nav-links{
               width: 48%;
        }
}

/* MEDIA AT 768 main mobile */
@media screen and (max-width: 768px){
    .nav-links{
      position: absolute;
       height:0;
       top: 12%;
       background-color: rgba(68, 72, 143, 0.404);
       right: 0;
       flex-direction:column;
     left:0;
       width: 100%;
       align-items: center;
       transition: tranform 0.5s ease-in;
      overflow: hidden;

    }
body{
    overflow-y: inherit;
}

.nav-links li a {
   font-size: 2rem;
   font-family: hear;

}


.home-wrapper{
display: flex;
flex-direction: column-reverse;
padding: 10%;
}

.home-left{

    width: 100%;
}

.home-wrapper h1{
    font-size: 16vh;

}

.animation{
    font-size: 24px;

}



    .wraper {
        height: 31vh;
        width: 60vh;
        border: 1px solid red;
        margin-left: 10vh;
        margin-top: 96vh;
        border: solid;
    }


 label{

    width: 45px;
    height: 30px;
    position: relative;
 }

 label div{
    width: 100%;
    height: 5px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    transform: translateY(-50%);
    border-radius: 99px;
    transition: 0.3s ease;
    transform: scale(1);

 }
label div:nth-child(1){
    top: 0% ;
}
label div:nth-child(2){
    top: 50% ;
}

label div:nth-child(3){
    top: 100%;
}

input:checked + header .nav-links{
height: 60vh
}

input:checked + header label div:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
    }
    input:checked + header label div:nth-child(2) {
        transform: scale(0);
        opacity: 0;
        }

    input:checked + header label div:nth-child(3) {
        transform: rotate(-45deg);
        top: 50%;

        }


}

