*{
    margin: 0px;
    padding: 0px;
    font-family: HARTWELL ALT !important;
    scrollbar-color:   #0cdceb #0e033b;
}
/* GENERAL STYLE */
h2{
    color: rgb(255, 238, 0);
    font-size: 1.7rem;
    font-family: HARTWELL ALT;
    font-weight: 100;
}

h1{
    font-family: HARTWELL ALT;
}

p{
    color:white;
    margin-top: 30px;
    font-size: 1.3rem;
}

/* GENERAL STYLE END*/
html{
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden
}

body{
    overflow-y: hidden;

    /* width: 100%; */
    height: 100%;
    background-color: #0e033b;
    overflow-x: hidden ;
    margin-bottom: 170px;

}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    z-index: 1;
    background-color: rgba(1, 0, 5, 0.925);
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
border-bottom: 1px solid rgb(31, 101, 122);

}

nav .logo{
margin-top: 12px;
margin-left: -22vh;
margin-bottom: 12px;
transition:  0.3s ease;
}
.logo img{
   height: 10vh;
}
.logo:hover{
transform: scale(1.1);
}

.nav-links{
    height: 40px;
    display: flex;
    justify-content: space-around;
    width: 45%;
    align-items: center;
    margin-right: -80vh;
}




.nav-links a {
    color: rgb(247, 247, 247);
    text-decoration: none;
    text-decoration-color: white;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 1.rem;
    transition: 0.4s ease;
    font-family: HARTWELL ALT;
    text-transform: uppercase;
}

.nav-links a:hover{
    color:#09e2f1;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

/* MOBILE HANDBURGER */
input{
    display: none;
}


.circle{
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
  position: absolute;
  background-color: #2a196652;
  margin-left: 70%;
  margin-top: -30%;
  z-index: -1 ;
position: fixed;

}
/* SECTION1 HOME */
section {
   min-height: 100vh;
   padding: 10rem 4% 10rem;
   border: solid;
}

/* HOME-CONTENT */
.home{
    display: flex;
}

.home-wrapper{
display: flex;
align-items: center;
justify-content: space-between;
}



.home-left{
    width: 50%;

}


.home-wrapper h1{
    font-size: 16vh;
    font-family: hartwell-alt;
    color: #e7fffe;
    font-size: 8.4rem;
}

.home-wrapper h1 span{
    color: #09e2f1;
}

.animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
 font-family: hartwell-alt;
}

.animation span{
    position: relative;

}

.animation span::before{
    content: "Frontend Developer";
    color: #0cdceb;
    animation: words 20s infinite;
}
.animation span::after{
content: "";
background-color:rgb(14, 3, 59);
position: absolute;
width: calc(100% + 8px);
height: 100%;
border-left: 3px solid rgb(7, 231, 247);
right: -10px;
animation: cursor 0.6s infinite, typing 20s steps(30) infinite
}
@keyframes cursor{
    to{
        border-left: 4px solid rgb(82, 81, 81);
    }
}
@keyframes words{
    0%,
    20%{
        content: "Frontend Developer";
    }
    21%,40%{
        content: "Designer";
    }
    41%,60%{
        content: "UI / UX Designer";
    }
    61%,80%{
        content: "Web Developer";
    }
    81%,100%{
    content: "Software Tester";
    }
}

@keyframes typing{
    10%,
    15%,
    20%,
    35%,
    40%,
    45%,
    50%,
    55%,
    60%,
    65%,
    70%,
    75%,
    80%,
    85%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
width: calc(100% + 9px);
    }
}

.home-wrapper P{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.9;
    max-width: 1000px;
}

/* HOME RIGHT IMAGE */

.home-wrapper .home-right img{
    width: 56vh;
    height: 56vh;
    border-radius: 50%;
    box-shadow: 0 0 30px #09e2f1 ;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border-top: 12px solid rgb(0, 255, 255);
    border-bottom: 2px solid;
    z-index: 22;
}
.home-wrapper .home-right img:hover{
   box-shadow: 0 0 40px #09e2f1,
   0 0 60px #09e2f1,
   0 0 90px #09e2f1;
}
 /* .circle2{
    position:fixed;
border:1px solid rgb(229, 255, 0);
width: 113vh;
height:113vh ;
border-radius: 50%;
top: 572px;
z-index: -1;

}
 */




/* SECTION3 ABOUT */







/* PROJECTS SECTION3 */
.heading{
    margin-bottom: 5rem;
}
.projects-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 80px;
}

 #project-img  img{
    width: 56vh;
    height: 56vh;
border: 3px solid yellowgreen;
    box-shadow: 0 0 30px #09e2f1 ;
}

#project-img  img:hover{
  border: 3px solid #09e2f1 ;
  transform: translateY(-10px)scale(1.05);
}





/* FOOTER */
footer{

     display: flex;
     justify-content: space-between;
 }




/* MEDIA SCREEN FOR RESPOSIVE SITE */
@media screen and (max-width: 1024px){
    .nav-links{
               width: 48%;
        }
}
/* MEDIA AT 768 main mobile */
@media screen and (max-width: 768px){
    .nav-links{
      position: absolute;
       height:0;
       top: 12%;
       background-color: rgba(68, 72, 143, 0.404);
       right: 0;
       flex-direction:column;
     left:0;
       width: 100%;
       align-items: center;
       transition: tranform 0.5s ease-in;
      overflow: hidden;

    }
body{
    overflow-y: inherit;
}

.nav-links li a {
   font-size: 2rem;
   font-family: hear;

}

    .wraper {
        height: 31vh;
        width: 60vh;
        border: 1px solid red;
        margin-left: 10vh;
        margin-top: 96vh;
        border: solid;
    }


 label{

    width: 45px;
    height: 30px;
    position: relative;
 }

 label div{
    width: 100%;
    height: 5px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    transform: translateY(-50%);
    border-radius: 99px;
    transition: 0.3s ease;
    transform: scale(1);

 }
label div:nth-child(1){
    top: 0% ;
}
label div:nth-child(2){
    top: 50% ;
}

label div:nth-child(3){
    top: 100%;
}

input:checked + header .nav-links{
height: 60vh
}

input:checked + header label div:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
    }
    input:checked + header label div:nth-child(2) {
        transform: scale(0);
        opacity: 0;
        }

    input:checked + header label div:nth-child(3) {
        transform: rotate(-45deg);
        top: 50%;

        }



}





