*{
    margin: 0px;
    padding: 0px;

}
body{
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #38A2D7, #561139); 
  
}


   .container .box{
    width: 29vh;
    height: 29vh;
    border: 19px solid rgb(140, 148, 28);
    margin-left: 5%;
    position: absolute;
    border-right: 25px solid rgba(185, 223, 16, 0);
    border-bottom: 25px solid rgba(185, 223, 16, 0);
  
   }
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 14vh;

      
}

.logo h5{
    color: rgb(248, 244, 244);
    text-transform: uppercase;
    letter-spacing: 0.09px;
font-size: 10px;

}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    
}

.nav-links li {
    list-style: none;
}
.nav-links li :hover{
    color: aliceblue;
    font-size:medium;
    
}

.nav-links a {
    color: rgb(17, 17, 10);
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
    
}
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 2.3px;
    background-color: #000000;
    margin: 5px;
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    .nav-links{
       
        width: 48%;
        background-color: blue;
    }

   
    
}

@media screen and (max-width: 768px){
    .nav-links{
       position: absolute;
       right: 0px;
       height: 75vh;
       top: 18vh;
       background-color: rgb(105, 107, 106);
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 25%;
       transform: translateX(100%);
       transition: tranform 0.5s ease-in;
    }

body{
    overflow-x: hidden;
}
.nav-links li{
    opacity: 0;
}
.burger{
    display: block;
}
.nav-active{
    transform: translateX(0);
}

}

.wraper{
    height: 31vh;
    width: 60vh;
    border: 1px solid red;
    margin-left: 10vh;
    margin-top: 20vh;
}
footer{
   height: 100vh;
   
    
    
    display: flex;
    justify-content: space-between;
  

}

footer h5{
    margin-top: 22vh;
    
}
footer .box{
    width: 29vh;
    height: 29vh;
  margin-bottom: -296px;
  margin-right: 5%;
   border: 19px solid rgb(140, 148, 28);
    border-left: 15px solid rgba(185, 223, 16, 0);
    border-top: 15px solid rgba(185, 223, 16, 0);

   }