* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background: linear-gradient(rgba(222, 159, 159, 0.573), rgba(93, 24, 24, 0.628));
    height: 1030px;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 40vw;
    height: 120vh;
    position: absolute;
}

.wrapx {
    border-top: 1px solid rgba(71, 16, 16, 0.8);
    border-bottom: 1px solid rgba(71, 16, 16, 0.8);
    width: 36.6vw;
    height: 120vh;
    position: absolute;
    animation: wrapx 39s linear infinite;
    position: absolute;
}

.wrapy {
    border-left: 1px solid rgba(71, 16, 16, 0.8);
    border-right: 1px solid rgba(71, 16, 16, 0.8);
    display: flex;
    /* flex-direction: column;
    align-items: center; 
     justify-content: center; */
    width: 40.1vw;
    height: 116vh;
    position: absolute;
    animation: wrapy 39s linear infinite;
}

@keyframes wrapy {
    to {
        transform: rotateX(360deg);
    }
}

@keyframes wrapx {
    to {
        transform: rotatey(360deg);
    }
}

.center {
    border-radius: 15px;
    width: 40vw;
    height: 120vh;
    background-color: rgba(142, 124, 124, 0.186);
    box-shadow: 1px 1px 11px 0.1px rgba(82, 15, 15, 0.771);
}


/*===========*/

.img {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.outer {
    width: 7.0rem;
    aspect-ratio: 1;
    border-bottom: 1px solid red;
    border-radius: 50%;
    animation: spin 4s linear infinite;
}

.inner {
    width: 7.0rem;
    aspect-ratio: 1;
    border-top: 1px solid rgb(73, 16, 179);
    border-radius: 50%;
    animation: spin 4s reverse infinite;
}


/*=========Keyframe===========*/

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1,
p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.links {
    margin-top: 15px;
    width: 90%;
}

h3 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 16px;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: rgba(70, 50, 50, 0.073);
    border-radius: 20px;
    transition: all ease;
    color: black;
}

h3:hover {
    box-shadow: 0px 7px 2px 1px rgba(82, 15, 15, 0.4);
}